.classpath
.project
.settings
.settings/
target/

# Mac
.DS_Store

# Vi
.swp

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ansible
*.retry

# Vagrant
.vagrant
